@font-face {
    font-family: "nasa";
    src: url("nasalization-rg.ttf");
    font-stretch: normal;
    font-weight: normal;
    font-style: normal;
}

p {
    color:darkslategrey;
}
q {
    border-style: solid;
    display: block;
    border-width: 2px;
    border-color: black;
}
h1 {
    color: #8b0000;
    background-color:rgba(0, 0, 0, 0.2);
    font-family: "nasa";
    font-size: 45px;
    text-align: center;
    text-decoration: underline overline;
    text-decoration-color: black;
    scrollbar-highlight-color: black;
    padding: 10px;
    margin: 0%;
}

h2 {
    color: rgb(178,34,34);
    font-family: "nasa";
    font-size: 25px;
    text-align: center;
    text-decoration: black;
    text-decoration: underline;
}
cite {display: block;
}
body {
    background-color: aliceblue;
    padding-left: 10%;
    padding-right: 10%;
}
p , ul {
    margin: 0% 5% 0% 5%; 
}
image {
    width: 50px;
    height: 300px;
    width: 33%;
}
video{
    width: 50px;
    height: 300px;
    width: 33%;
}
audio{
    width: 50px;
    height: 300px;
    width: 33%;
}